/***********************************************/
/***************** tekst ***********************/

/*Jeg bruger font-face til at finde fontén på computeren*/
@font-face {
    font-family: 'Poppins', sans-serif;
   @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}
/*Jeg giver en font til h1, h2 og h3*/
h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    color: white;
}

/*h1 er til banneret på hver side*/
h1 {
    background-color: #e4717a;
    width: 100%;
    text-align: center; /*Centerer teksten*/
    padding: 15px;
    margin: 0;
}

/*Jeg giver en font til body*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/***********************************************/
/***************** Sidelayout ******************/

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

* {
    box-sizing: border-box;
}

/***********************************************/
/***************** mobil nav *******************/

/*Jeg bruger flex til at bestemme retningen for min navbar og centerer den derefter*/
#menu {
    /* placering af menu (Gør så vi kan placere navbaren i forhold til browser)*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    background-color: white;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* vi løfter menuen over andet content*/
    z-index: 5;
    /* menubaren animeres ind*/
    transition: left 0.3s linear;

}

/*Denne style bliver brugt når der er #menu i url'en. Det bruger vi til at vise navbaren, når vi trykker på "åben navbar" ikonet*/
#menu:target {
    left: 0;
}

/*Jeg fjerner punkterne fra listen*/
#menuPunkter {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    color: #e4717a;
    text-decoration: none;
    /*Flex bruges til at ligge links under hinanden og centere dem*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Jeg adskiller mine menupunkter lidt*/
#menuPunkter a {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    display: block;
    margin: 10px;
    padding: 10px;
    /*Jeg fjerner stregen og ændre farven*/
    color: #e4717a;
    text-decoration: none;
    text-shadow: 0px 1px 6px #0000001d;
    
}
.navlink{
    flex: 1;
    display: flex;
    justify-content: center;
    
}
/***********************************************/
/************ mobil nav knapper ****************/

#closeNav,
#openNav {
    /*Gør så vi kan placere krydset i navbaren som vi vil*/
    position: absolute;
    top: 30px;
    text-decoration: none;
    font-size: 45px;
    color: black;
    
}

/*knapper til åben og luk af navbar*/
#closeNav {
    right: 40px;
   
}
#openNav {
    right: 40px;

}

/***********************************************/
/************ mobil nav logo *******************/

/*logoet i navbaren*/
#logo {
    width: 60%;
    display: block;
}

/*Jeg giver logoet 100% af forældrens 60%*/
#logo img {
    width: 100%;

}

/***********************************************/
/*************** mobil topbar ******************/

header {
    display: flex;
    justify-content: flex-start;
    background-color: white;
}

/*Tilpasning af logo i toppen på mobil*/
#logoTop,
#logoTopDesktop {
    /*Fordi der er et link sætter vi display block for at kunne bruge margin og width*/
    display: block;
    width: 45%;
    background-color: white;
    max-width: 200px;
    padding: 15px;
    margin: 5px;
    
}

#logoTop img,
#logoTopDesktop img {
    width: 100%;
}

#menuPunkter #logoTopDesktop {
    display: none;
}
/***********************************************/
/********* stylesheet for Om os **************/
.Værdier{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.Værdier img{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

#Omos{
     display: flex;
    justify-content: center;
    font-size: 20px;
    color: black;
    margin-bottom: 30px;
}
#Omos2{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: black;
    margin-bottom: 30px;
}

/***********************************************/
/********* stylesheet for kontakt **************/

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    border-color: #83c760;

}

#indhold {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Style the submit button with a specific background color etc */
#contactButton {
    background-color: #e4717a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-top: 40px;
}
label {
    color: black;
}

/***********************************************/
/************ mobil Landingpage ****************/

/*Jeg laver css specifikt til headeren på vores landingpage*/
#landingHeader {
    height: 115px;
}

#landingHeader #logoTop {
    /*Logoet ligges ud over header (en del af det ønskede design)*/
    position: absolute;  
}

#Saltefiskmobil{
    width: 100%;
}
#mainlanding{
    position:relative;
    
}
#læsmere{
    position: absolute;
    bottom: 40px;
    left: 25%;
    color: white;
    font-size: 20px;
    width: 50%;
    text-align: center;
}
#deltageher{
    display: flex;
    color: black;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 75px;
    
}

#landingpagekonkurrence{
    display: flex;
justify-content: center;
    font-size: 30px;
    color: black;
    margin-bottom: 30px;
        
}
#Vindkurv{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: black;
    margin-bottom: 30px;
}
#saltefiskweb{
       display: none;
    } 

/***********************************************/
/********** stylesheet for konkurrence **************/
#Konkurrence{
    width: 100%;
    margin-top: 40px;
    
}

#vind{
    margin-top: 40px;
    font-size: 20px;
    color: black;
}

#foratdeltage{
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: black;
    margin-bottom: 30px;
}
/***********************************************/
/********** stylesheet for Salt fisk ***************/
#omos{
    width: 100%;
    margin-bottom: 30px;
}
#omsaltefisk{
    display: flex;
    justify-content: center;
    font-size: px;
    color: black;
    margin-bottom: 30px;
}
#ingredienser{
    display: flex;
    justify-content: center;
    font-size: px;
    color: black;
    margin-bottom: 30px;
}

/***********************************************/
/********** stylesheet for footer **************/
.footer {
    background-color: #83c760;
    padding: 10px 20px;
    text-align: left;
    background-size: 100%;
    justify-content: space-between;
    display: flex;
}

#textfooter {
    display: flex;
    flex-direction: column;
    color: white;
}

#socialmedie {
    display: flex;
    align-items: center;
}
.icons {
    width: 50px;
    display: block;
    margin-left: 10px;
}
.icons img {
    width: 100%;
}
p {
    margin: 5px;
    font-size: 14px;
}


/***********************************************/
/********* mediaquery til tablet ***************/

@media only screen and (min-width: 700px) {
   /*Jeg tilpasser landingpage til tablet*/
    #landingMain .subpages {
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        flex-wrap: wrap;
    }

    #landingMain .subpage {
        width: 40%;
        margin: 20px;
    }

    #landingMain .subpage:last-child {
        width: 90%;
    }

    #landingMain .subpages a {
        width: 100%;
    }

    .footer {
        padding-left: 70px;
        padding-right: 70px;
    }
    
       /*Jeg tilpasser kontakt til tablet*/
    input[type="text"],
select,
textarea {
    width: 200%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    border-color: #39b54a;
}

#indhold {
    display: flex;
    align-items: center;
    
}
    
/*h1 er til banneret på hver side*/
h1 {
    background-color: #e4717a;
    width: 100%;
    text-align: center; /*Centerer teksten*/
    padding: 15px;
    margin-top: 50px;
}
/* Style the submit button with a specific background color etc */
#contactButton {
    background-color: #e4717a;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin-top: 40px;
}
label {
    color: black;
}
    
   #saltefiskweb{
       display: none;
    } 
    
    h1{
        margin-top: 50px;

    }
    
    /* Jeg tilpasse om os ind*/

       
    
    
/* jeg tilpasse konkurrence ind*/
    #Konkurrence{
        width: 50%;
    }
    
   
}

/***********************************************/
/********* mediaquery til web ******************/

@media only screen and (min-width: 1200px) {
    /*Jeg tilpasser naven til web*/
    #closeNav,
    #openNav,
    #logo,
    #logoTop {
        /*Disse funktioner vil vi ikke vise*/
        display: none;
    }
    
    #menuPunkter #logoTopDesktop {
        display: block;
        padding: 0;
        width: 150px;
       
    }

    #menuPunkter #logoTopDesktop a {
        display: block;
        margin: 0;
        padding: 0;
    }

    #menu {
        position: relative;
        left: 0;
        padding: 0;
        height: 100%;
    }

    #menuPunkter {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        margin-top: 50px;
    }

    #menuPunkter a {
        color: #e4717a;
    }
    
    /*Jeg tilpasser footer til web*/

    #socialmedie {
        padding-left: 250px;
    }

   /*Jeg tilpasser kontakt til web*/
    input[type="text"],
select,
textarea {
    width: 200%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    border-color: #83c760;
}

#indhold {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px 50px;
 
}
/* Style the submit button with a specific background color etc */
#contactButton {
    background-color: #e4717a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin-top: 10px;
}
label {
    color: black;
}
    /* Jeg tipasse landpage img ind*/
    #Saltefiskmobil{
        display: none; 
    }
    
    #saltefiskweb{
        display: flex;
        width: 100%;
        margin-top: 100px;
    }
    
    h1{
        margin-top: 100px;
        text-align: center;
}
#logoTop img,
#logoTopDesktop img {
    width: 100%;
    margin-bottom: 100px;
    text-align: center;

}
    /*Jeg tilpasse saltefisk img og teskt ind*/
    #omsaltefisk {
        font-size: 20px;;
       
    }

    #omos{
        background-image: none;
        justify-content: space-around;
        align-items: flex-start;
        max-width: 1000px;
        width: 50%;
    }

    #ingredienser{
        font-size: 20px;
    }
    
    #saltefisktext{
       display: flex;
        flex-direction: column;
        width: 30%;
    }
    
    /* Jeg tilpasse om os ind*/
    
    .Værdier{
        display: flex;
        flex-direction: row;
    justify-content: center;
        align-items: center;
          width: 100%;
            
    }
    .Værdier img{
        width: 30%;
    }
    
    #textomos  {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items:flex-start; 
        column-count: 2;
    }
    #textomos p {
        width: 40%;
        margin-top: 30px;
     
    }
    
    /*Jeg tilpasser konkurrence ind*/
    #Konkurrence{
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px 50px;
 
    }
    #Konkurrence{
        width: 40%
}
    #textkonkurrence{
        display: flex;
        flex-direction: column;
        width: 30%;
    }
    #vind{
        font-size: 35px;
        margin-bottom: 80px;
       
    }
    #foratdeltage{
        font-size: 20px;
    }
    
}